%p#notice= notice

%p
  %b Email:
  = @user.email
%p
  %b Username:
  = @user.username
%p
  %b Rank:
  = @user.rank
%p
  %b Rating:
  = @user.rating

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
