:ruby
  # Reference guides:
  # https://api.jqueryui.com/draggable/
  # https://codepen.io/wedugo/pen/yjVvBg


%h3= app_name
%h5.text-secondary A personal attempt to copy the the mini game inside Square Enix's #{link_to('Final Fantasy VII Rebirth', 'https://ffvii.square-enix-games.com/en-us/games/rebirth', target:'_blank') } game.
%br/
.row
  .col-auto
    .card
      .card-header Games
      = render partial:'games/games', locals:{ games: @games }
  .col-auto
    .card
      .card-header
        = link_to 'Cards', cards_path
  .col-auto
    .card
      .card-header
        = link_to 'Boards', boards_path
