:ruby
  # Required locals:
  #   :games <Array<Game>>
%table(class="table tabled-bordered table-striped")
  %thead
    %tr
      %th Board Size
      %th Player 1
      %th Player 2
      %th Start Time
      %th Status
  %tbody
    - games.each do |game|
      %tr(class="#{'active-borders' if game.game_users.all.collect(&:user_id).include?(current_user&.id)}")
        %td
          = link_to "#{game.columns} x #{game.rows}", game_path(game)
        %td
          - if game.player_1&.id == current_user&.id
            %strong.active-color * You *
          - else
            = game.player_1&.username
        %td
          - if game.player_2&.id == current_user&.id
            %strong.active-color * You *
          - else
            = game.player_2&.username
        %td
          %span(title="#{game.created_at.strftime('%Y-%m-%d %H:%M')}")= game.created_at.strftime('%Y-%m-%d')
        %td
          = game.status.titleize
          &nbsp;
          - if game.waiting? && game.game_users.collect(&:user_id).exclude?(current_user.id)
            = link_to 'Join', join_game_path(game), class: 'btn btn-primary btn-sm'