:ruby
  # Required locals:
  #   game <Game>

.row(id="game_user_turn_wrapper")
  .col.text-end
    %span(id="user_1_turn_cursor" class="bi bi-arrow-down-square-fill user-1-color text-xlg#{' d-none' unless game.player_1 && game.player_1.id == game.current_turn_user_id}")
      = t('game.turn.this_players_turn')
      -#= game.player_1.id == current_user.id ? ' Your Turn' : " #{game.player_1.username}'s Turn"
  .col.text-center
    - unless game.waiting?
      %h4.mt-0.mb-3
        - if current_user.admin? || true # Temporarily show move list to all users
          %a(class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") #{game.game_moves.count} Moves
          %ul.dropdown-menu.striped-children
            - game.game_moves.includes(:user, :game_board_tile).each do |move|
              %li.p-2
                = "#{move.move_order}. #{move.type} by #{move.user.username} #{move.game_board_tile ? " to #{move.game_board_tile.to_s}" : ''}"
        - else
          #{game.game_moves.count} Moves
        &nbsp;
  .col.text-begin
    %span(id="user_2_turn_cursor" class="bi bi-arrow-down-square-fill user-2-color text-xlg#{' d-none' unless game.player_2 && game.player_2&.id == game.current_turn_user_id}")
      = t('game.turn.this_players_turn')
      -#= game.player_2.id == current_user.id ? ' Your Turn' : " #{game.player_2.username}'s Turn"