:ruby
  # Selection of the card to be displayed in the user card section using checkbox.
  # Required locals: 
  #   user_card
  # Optional locals:
  #   card_css_class: default to 'card'
  #   show_add_button: default to true
  #   show_remove_button: default to false
  card_css_class = 'card' unless defined?(card_css_class) && card_css_class.present?
  card = user_card.card
  show_add_button = true unless defined?(show_add_button) && show_add_button.to_s == 'false'
  show_remove_button = false unless defined?(show_remove_button) && show_remove_button.to_s == 'true'
= content_tag(:div, class: "#{card_css_class} card-selectable", id: "user_card_#{user_card.id}", data:{ 'user-card-id': user_card.id, 'card-id': card.id, 'quantity': user_card.quantity }, style:"#{'opacity: 0.5;' if user_card.quantity.to_i < 1}" ) do
  .card-extra-image
    = image_tag(asset_path("cards/#{card.dash_id}.webp"), class: 'card-image', title: "Card ##{card.card_number}")
  .card-actions-row.text-center
    %span(id="user_card_of_#{user_card.card_id}" data-card-id="#{card.id}" user-card-id="#{user_card.id}" data-quantity="#{user_card.quantity}" data-bs-title='Count of this card' data-bs-toggle='tooltip' disabled='disabled' class=' user-card-quantity-input')= user_card.quantity
    %button(type='button' class="btn btn-lg user-card-add-button#{' d-none' unless show_add_button}" data-card-id="#{card.id}" data-user-card-id="#{user_card.id}" data-bs-toggle='tooltip' data-bs-placement='bottom' data-bs-title="Add this card to your deck" )
      %i.bi.bi-plus-circle-fill.text-success
    %button(type='button' class="btn btn-lg user-card-remove-button#{' d-none' unless show_remove_button}" data-card-id="#{card.id}" data-user-card-id="#{user_card.id}"  data-bs-toggle='tooltip' data-bs-placement='bottom' data-bs-title="Remove this card from your deck" )
      %i.bi.bi-trash-fill.text-danger