:ruby
  # Required locals: card
  # Optional: 
  #   which_player
  #   card_css_class: default to 'card'
  which_player = 1 unless defined?(which_player)
  card_css_class = 'card' unless defined?(card_css_class) && card_css_class.present?
= content_tag(:div, class: "#{card_css_class}", id: "player_#{which_player}_card_#{card.card_number}", data: card_data_attr(card).merge({ player: which_player}) ) do
  %i.bi.bi-slash-circle.d-none
  .card-extra-image
    = image_tag(asset_path("cards/#{card.dash_id}.webp"), class: 'card-image', title: "Card ##{card.card_number}")
  %i.bi.bi-slash-circle.d-none