:ruby
  # Required locals: (card:)
  tiles_map = card.card_tiles_map
%form(method="post" action="/board_tiles" id="card_#{card.card_number}_form" class="card-tile-selector-form")
  %div.d-flex.flow-row.mb-3
    %table.card-tile-selector
      %tbody
        - -2.upto(2) do|y|
          %tr
            - -2.upto(2) do|x|
              %td(class="#{x == 0 && y == 0 ? 'self-tile' : ''}")
                - if x != 0 || y != 0
                  - k = [x,y]
                  - cur_tile_value = tiles_map[k]
                  - args = { id: "card_tile_#{card.card_number}_#{x}_#{y}", value: "#{cur_tile_value}", class: "form-check-input card-tile-checkbox", data:{card_number: card.card_number }, title: "Tile at #{x},#{y}" }
                  - args.merge!(checked: true) if cur_tile_value.present?
                  = check_box_tag("card_tiles[#{x}_#{y}]", args)
    %div.p-2.card-tile-selector.bg-light-box
      %h6 
        Choose color and  which tiles to affect
      = radio_button_tag("card_tile_type_"+ card.card_number.to_s, "pawn", true, class: "form-check-input card-tile-checkbox", data:{card_number: card.card_number})
      = radio_button_tag("card_tile_type_"+ card.card_number.to_s, "affected", false, class: "form-check-input card-tile-checkbox", data:{card_number: card.card_number})