= form_for(card, url: card_path(card), as: 'card', remote: true, method:'put' ) do |f|
  = hidden_field_tag :format, :js
  %div.accordion-item.d-flex.flow-row(id="card_form_#{card.id}")
    .align-self-center
      .card(id="card_cropped_#{card.card_number}" data-card-id="#{card.id}" data-card-number="#{card.card_number}")
        .card-extra-image
          %a(href="#{asset_path("detailed_cards/#{card.card_number}.png")}" target="_blank" title="Detailed image of card ##{card.card_number}")
            %img(src="#{ asset_path("cards/#{card.card_number}.png") }" title="Card ##{card.card_number}")
        .card-detail-image.d-none
          %button(class="btn p-0 align-top bi bi-zoom-in card-detail-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#detail_offcanvas" aria-controls="offcanvasRight" data-image-url="#{asset_path("detailed_cards/#{card.card_number}.png")}" data-card-id="#{card.id}") &nbsp;
    .align-self-center.p-3
      .row
        .col-auto.align-middle.mb-3
          = f.label :card_number, class:' align-middle'
          = f.text_field :card_number, class: 'form-control-sm few-chars align-middle'
        .col-auto.align-middle.mb-3
          = f.label :category, class:' align-middle'
          = f.select :category, options_for_select(['Standard', 'Legendary'], card.category), {}, class: 'form-control-sm', title:'Category', data:{ 'bs-toggle'=>'tooltip'}
      .row
        .col-auto.mb-3
          = f.label :name
          = f.text_field :name, class: 'form-control-sm align-middle'
          -#= best_in_place card, :name, url: card_path(card), class: 'form-control-sm align-middle best-in-place-input', placeholder:'Card Name'
        .col-auto.mb-3.align-middle
          = f.label :type
          = f.select :type, options_for_select([ ['Normal','Card'], ['Replacement','ReplacementCard'] ], card.type), {}, class: 'form-control-sm', title:'Card Type', data:{ 'bs-toggle'=>'tooltip'}
      .row
        .col-auto.mb-3
          = f.label :pawn_rank
          = f.select :pawn_rank, options_for_select([ ['1',1], ['2',2], ['3',3], ['---',-1] ], card.pawn_rank), {}, class: 'form-control-sm', title:'Pawn Rank: 1-3 or Replacement Card', data:{ 'bs-toggle'=>'tooltip'}
        .col-auto.mb-3.align-middle
          = f.label :power
          = f.select :power, options_for_select( 1.upto(10).collect{|p| [p,p]}, card.power), {}, class: 'form-control-sm', title:'Power Increase for Own Tile', data:{ 'bs-toggle'=>'tooltip'}
      .row
        .col-auto.mb-3
          = f.label :description, class:'align-top'
          = f.text_area :description, class: 'form-control-sm align-middle'
      .row
        .col.mb-3.text-end
          %button(type='submit' class='btn btn-primary btn-sm' data-disable-with='Updating...')
            %i.bi.bi-floppy-fill &nbsp;
            Save
    .align-self-center.p-3.ml-5
      %div
        = render partial:'cards/card_tile_selection_grid', locals: {card: card}
      %div(id="card_ability_form_#{card.id}")
        - container_id = "card_abilities_#{card.id}"
        %h6 
          Abilities
          %span(class="ms-3")
            %button(class="btn" type="button" data-add-card-ability="#{ CGI.escape('#') + container_id}" data-card-id="#{card.id}" data-bs-toggle="tooltip" title="Show form to add ability")
              %i(class="bi bi-plus-circle") &nbsp;
        - abilities = card.card_abilities.to_a
        %div(id="#{container_id}")
          - if abilities.blank?
            %p.ms-3.text-secondary
              No abilities defined.
          - else
            = render partial:'card_abilities/form', collection: abilities, as: :card_ability, locals: { field_prefix:'card_abilities[]' }