<!DOCTYPE html>
<html>
  <head>
    <title><%= full_page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'plugins', 'data-turbolinks-track': 'reload' %>

    <%= turbo_include_tags %>

    <%= yield :more_head %>
  </head>

  <body>
    <%= render 'shared/top_nav_bar' %>
    <div id="flash_messages_wrapper">
      <% if flash[:notice].present? %><div class="mb-3 alert alert-success" role="alert"><%= flash[:notice] %></div><% end -%>
      <% if flash[:warning].present? %><div class="mb-3 alert alert-warning" role="alert"><%= flash[:warning] %></div><% end -%>
      <% if flash[:alert].present? %><div class="mb-3 alert alert-danger" role="alert"><%= flash[:alert] %></div><% end -%>
    </div>
    <div id="main" class="m-3">
      <%= yield %>
    </div>
    <br/>
    <br/>
    <%= render 'shared/bs/modal', id:'alert_modal', title:'Alert', body:'', show_footer_close_button: false %>
  </body>
</html>
